<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="cuina.database.types">
      <database
            class="cuina.eventx.CommandList"
            image="icons/event.png"
            name="Event">
         <editor
               class="cuina.editor.eventx.internal.CommandListEditor"
               navigator="true">
         </editor>
      </database>
   </extension>

</plugin>
