<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="cuina.mapeditor.layers" name="Cuina MapEditor Layers" schema="schema/cuina.mapeditor.layers.exsd"/>
	<extension
       id="cuina.map.DatabaseTypes"
       name="MapEditor DatabaseTypes"
       point="cuina.database.types">
		<database
        class="cuina.map.MapInfo"
        editorID="cuina.editor.map.MapEditor"
        image="icons/map.png"
        name="MapInfo">
		</database>
		<database
        class="cuina.map.Tileset"
        editorID="cuina.editor.map.TilesetEditor"
        image="icons/tileset.png"
        name="Tileset">
		</database>
	</extension>
 <extension
       id="cuina.editor.map.MapEditor"
       name="MapEditor"
       point="org.eclipse.ui.editors">
    <editor
          class="cuina.editor.map.internal.TerrainEditor"
          contributorClass="cuina.editor.map.internal.MapEditorActionBarContributor"
          default="true"
          extensions="cxm, cxmz"
          icon="icons/map.png"
          id="cuina.editor.map.MapEditor"
          name="Cuina Map Editor">
    </editor>
    <editor
          class="cuina.editor.map.internal.TilesetEditor"
          default="true"
          icon="icons/tileset.png"
          id="cuina.editor.map.TilesetEditor"
          name="Cuina Tileset Editor">
    </editor>
 </extension>
 <extension
       id="cuina.editor.map.MapEditor"
       name="MapEditor Layers"
       point="cuina.mapeditor.layers">
    <layer
          class="cuina.editor.map.internal.layers.BackgroundLayer"
          name="Background"
          selectable="false">
    </layer>
    <layer
          class="cuina.editor.map.internal.layers.TileMapLayer"
          contributorClass="cuina.editor.map.internal.layers.TileMapLayerContributor"
          name="Tileset"
          selectable="true">
    </layer>
 </extension>
 <extension
       id="cuina.editor.map.new.map"
       point="org.eclipse.ui.newWizards">
    <category
          id="cuina.editor"
          name="Cuina">
    </category>
    <wizard
          category="cuina.editor"
          class="cuina.editor.map.internal.wizard.MapWizard"
          hasPages="true"
          icon="icons/map.png"
          id="cuina.editor.map.new.map"
          name="Cuina Map">
       <selection
             class="org.eclipse.core.resources.IResource">
       </selection>
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="cuina.editor.core.ViewCategory"
          class="cuina.editor.map.internal.views.TilesetView"
          icon="icons/tileset.png"
          id="cuina.editor.map.TilsetView"
          name="Tileset"
          restorable="true">
    </view>
    <view
          allowMultiple="false"
          category="cuina.editor.core.ViewCategory"
          class="cuina.editor.map.internal.views.AutotileView"
          icon="icons/tileset.png"
          id="cuina.editor.map.AutotileView"
          name="Autotiles"
          restorable="true">
    </view>
 </extension>
 <extension
       point="cuina.resource.directories">
    <directory
          create="true"
          id="cuina.maps.path"
          keep-Reference="true"
          name="maps">
    </directory>
 </extension>
 <extension
       point="org.eclipse.ui.menus">
    <menuContribution
          allPopups="false"
          locationURI="menu:org.eclipse.ui.main.menu">
       <menu
             id="cuina.editor.map.Map"
             label="Karte">
          <visibleWhen>
             <with
                   variable="activeEditorId">
                <equals
                      value="cuina.editor.map.MapEditor">
                </equals>
             </with>
          </visibleWhen>
          <command
                commandId="cuina.editor.map.tools.Resize"
                label="Kartengröße..."
                style="push">
          </command>
          <command
                commandId="cuina.editor.map.tools.Shift"
                label="Verschieben"
                style="push">
          </command>
          <separator
                name="cuina.editor.map.tools.TileTools"
                visible="true">
          </separator>
          <command
                commandId="cuina.editor.map.tools.InsertRow"
                label="Zeilen einfügen"
                style="push">
          </command>
          <command
                commandId="cuina.editor.map.tools.InsertColumn"
                label="Spalten einfügen"
                style="push">
          </command>
       </menu>
    </menuContribution>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="cuina.editor.map.internal.MapToolsHandler"
          description="Ändert die Größe der Karte."
          id="cuina.editor.map.tools.Resize"
          name="Map Resize">
    </command>
 </extension>
 <!--extension     description="Wählt ein Editor-Werkzeug aus."
          id="cuina.editor.map.tool"
          name="Werkzeug">
       <commandParameter
             id="org.eclipse.ui.commands.radioStateParameter"
             name="Werkzeug"
             optional="false">
       </commandParameter>
       <state
             class="org.eclipse.ui.handlers.RadioState:cursor"
             id="org.eclipse.ui.commands.radioState">
          <class
                class="org.eclipse.ui.handlers.RadioState:cursor">
             <parameter
                   name="default"
                   value="cursor">
             </parameter>
             <parameter
                   name="persisted"
                   value="false">
             </parameter>
          </class>
       </state>
    </command>
 </extension-->
</plugin>
