<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension-point id="cuina.mapeditor.layers" name="Cuina MapEditor Layers" schema="schema/cuina.mapeditor.layers.exsd"/>
	<extension
       id="cuina.map.DatabaseTypes"
       name="MapEditor DatabaseTypes"
       point="cuina.database.types">
		<database
        	class="cuina.map.MapInfo"
        	image="icons/map.png"
       		name="MapInfo">
		</database>
		<database
        class="cuina.map.Tileset"
        editor="cuina.editor.map.internal.TilesetEditor"
        image="icons/tileset.png"
        name="Tileset">
		</database>
	</extension>
 <extension
       id="cuina.editor.map.MapEditor"
       name="MapEditor"
       point="org.eclipse.ui.editors">
    <editor
          class="cuina.editor.map.internal.MapEditor"
          default="true"
          extensions="cxm"
          icon="icons/map.png"
          id="cuina.editor.map.MapEditor"
          name="Cuina Map Editor">
    </editor>
 </extension>
 <extension
       id="cuina.editor.map.MapEditor"
       name="MapEditor Layers"
       point="cuina.mapeditor.layers">
    <layer
          class="cuina.editor.map.internal.layers.BackgroundLayer"
          name="Background"
          selectable="false">
    </layer>
    <layer
          class="cuina.editor.map.internal.layers.TileMapLayer"
          name="Tileset"
          selectable="true">
    </layer>
 </extension>
 <extension
       id="cuina.editor.map.new.map"
       point="org.eclipse.ui.newWizards">
    <category
          id="cuina.editor"
          name="Cuina">
    </category>
    <wizard
          category="cuina.editor"
          class="cuina.editor.map.internal.MapWizard"
          icon="icons/map.png"
          id="cuina.editor.map.new.map"
          name="Cuina Map">
    </wizard>
 </extension>
 <extension
       point="org.eclipse.ui.views">
    <view
          allowMultiple="false"
          category="cuina.editor.core.ViewCategory"
          class="cuina.editor.map.internal.views.TilesetView"
          icon="icons/tileset.png"
          id="cuina.editor.map.TilsetView"
          name="Tileset"
          restorable="true">
    </view>
    <view
          allowMultiple="false"
          category="cuina.editor.core.ViewCategory"
          class="cuina.editor.map.internal.views.AutotileView"
          icon="icons/tileset.png"
          id="cuina.editor.map.AutotileView"
          name="Autotiles"
          restorable="true">
    </view>
 </extension>
 <extension
       point="cuina.resource.directories">
    <directory
          create="true"
          id="cuina.maps.path"
          keep-Reference="true"
          name="maps">
    </directory>
 </extension>
 <extension
       point="org.eclipse.ui.commands">
    <command
          defaultHandler="cuina.editor.map.internal.ToolSelectionHandler"
          description="Wählt ein Editor-Werkzeug aus."
          id="cuina.editor.map.tool"
          name="Werkzeug">
       <commandParameter
             id="org.eclipse.ui.commands.radioStateParameter"
             name="Werkzeug"
             optional="false">
       </commandParameter>
       <state
             class="org.eclipse.ui.handlers.RadioState:cursor"
             id="org.eclipse.ui.commands.radioState">
          <class
                class="org.eclipse.ui.handlers.RadioState:cursor">
             <parameter
                   name="default"
                   value="cursor">
             </parameter>
             <parameter
                   name="persisted"
                   value="false">
             </parameter>
          </class>
       </state>
    </command>
 </extension>
</plugin>
