<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cuina.object.extensionTypes" name="Object Extension Types" schema="schema/cuina.object.extensionTypes.exsd"/>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="cuina.editor.object.internal.properties.ObjectBasePropertyPage"
            id="cuina.editor.object.properties.ObjectBasePropertyPage"
            name="Objekt">
         <enabledWhen>
            <test
                  property="cuina.editor.core.adapt"
                  value="cuina.editor.object.ObjectAdapter">
            </test>
         </enabledWhen>
      </page>
      <page
            class="cuina.editor.object.internal.properties.ObjectExtensionPropertyPage"
            id="cuina.object.ExtensionPage"
            name="Erweiterungen">
         <enabledWhen>
            <test
                  property="cuina.editor.core.adapt"
                  value="cuina.object.ObjectData">
            </test>
         </enabledWhen>
      </page>
      <page
            category="cuina.object.ExtensionPage"
            class="cuina.editor.object.internal.properties.MaskPropertyPage"
            id="cuina.editor.object.MaskPropertyPage"
            name="Mask">
         <enabledWhen>
            <test
                  property="cuina.editor.core.adapt"
                  value="cuina.map.BoxData">
            </test>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="cuina.mapeditor.layers">
      <layer
            class="cuina.editor.object.internal.ObjectLayer"
            contributorClass="cuina.editor.object.internal.ObjectLayerContributor"
            name="Objects"
            selectable="true">
      </layer>
   </extension>
   <extension
         point="cuina.database.types">
      <database
            class="cuina.object.ObjectTemplate"
            editorID="cuina.editor.object.TemplateEditor"
            image="icons/template.png"
            name="Template">
      </database>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="cuina.editor.object.internal.TemplateEditor"
            default="false"
            icon="icons/template.png"
            id="cuina.editor.object.TemplateEditor"
            name="Template Editor">
      </editor>
   </extension>
   <extension
         point="cuina.object.extensionTypes">
      <extensionEditor
            dataClass="cuina.map.BoxData"
            editorClass="cuina.editor.object.internal.MaskExtensionEditor"
            id="box"
            name="cuina.map.CollisionBox">
      </extensionEditor>
   </extension>

</plugin>
