<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="cuina.core.project.extension" name="cuina.core.project.extension" schema="schema/cuina.core.project.extension.exsd"/>
   <extension-point id="cuina.editor.project.parameter" name="cuina.editor.project.parameter" schema="schema/cuina.editor.project.parameter.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="cuina.editor.core.internal.CuinaPerspective"
            fixed="false"
            icon="icons/cuina16.png"
            id="cuina.editor.core.perspective"
            name="Cuina">
      </perspective>
   </extension>
   <extension
        point="org.eclipse.debug.core.launchConfigurationTypes">
     <launchConfigurationType
           delegate="cuina.editor.debug.CuinaLauncher"
           delegateName="Cuina Engine Launcher"
           id="cuina.editor.debug.CuinaProjectApplication"
           modes="run, debug"
           name="Cuina Game"
           public="true">
     </launchConfigurationType>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTabGroups">
     <launchConfigurationTabGroup
           class="cuina.editor.debug.CuinaLaunchConfigurationTabGroup"
           id="cuina.editor.debug.CuinaLaunchConfigurationTabGroup"
           type="cuina.editor.debug.CuinaProjectApplication">
     </launchConfigurationTabGroup>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchConfigurationTypeImages">
     <launchConfigurationTypeImage
           configTypeID="cuina.editor.debug.CuinaProjectApplication"
           icon="icons/cuina16.png"
           id="cuina.editor.debug.CuinalaunchConfigurationImage">
     </launchConfigurationTypeImage>
  </extension>
  <extension
        point="org.eclipse.debug.ui.launchShortcuts">
     <shortcut
           class="cuina.editor.debug.CuinaLaunchShortcut"
           description="Startet die Engine"
           icon="icons/cuina16.png"
           id="cuina.editor.debug.CuinaLaunchShortcut"
           label="Run"
           modes="run, debug">
        <contextualLaunch>
           <contextLabel label="Run" mode="run" />
           <contextLabel label="Debug" mode="debug" />
           <enablement >
	           <with variable="selection">
	           <count value="1"/>
	          <!--iterate>
	            <adapt type="org.eclipse.core.resources.IResource">
	                <and>
	                <test property="org.eclipse.core.resources.name" value="*.cdx"/>
	            </and>
	        </adapt>
	          </iterate-->
	           </with>
	       </enablement>
        </contextualLaunch>
     </shortcut>
  </extension>
  <extension
        point="org.eclipse.ui.perspectiveExtensions">
     <perspectiveExtension
           targetID="cuina.editor.core.perspective">
        <actionSet
              id="org.eclipse.debug.ui.launchActionSet">
        </actionSet>
     </perspectiveExtension>
  </extension>
  <extension
        id="cuina.ProjectNature"
        name="Cuina ProjectNature"
        point="org.eclipse.core.resources.natures">
     <runtime>
        <run
              class="cuina.editor.core.internal.CuinaNature">
           <parameter
                 name="engine-path"
                 value="${CUINA-HOME}">
           </parameter>
        </run>
     </runtime>
  </extension>
  <extension
        point="org.eclipse.ui.navigator.viewer">
     <viewerContentBinding
           viewerId="org.eclipse.ui.navigator.ProjectExplorer">
        <includes>
           <contentExtension
                 isRoot="true"
                 pattern="cuina.editor.core.CuinaNavigatorContent">
           </contentExtension>
        </includes>
     </viewerContentBinding>
  </extension>
  <extension
        point="org.eclipse.ui.views">
     <category
           id="cuina.editor.core.ViewCategory"
           name="Cuina">
     </category>
  </extension>
  <extension
        point="org.eclipse.core.expressions.propertyTesters">
     <propertyTester
           class="cuina.editor.core.AdapterTester"
           id="cuina.editor.core.AdapterTester"
           namespace="cuina.editor.core"
           properties="adapt"
           type="java.lang.Object">
     </propertyTester>
  </extension>
  <extension
        point="cuina.editor.project.parameter">
     <parameter
           name="Screen-Width"
           description="Breite des Fensters"
           group="Game"
           defaultValue="640">
     </parameter>
     <parameter
           after="Screen-Width"
           defaultValue="480"
           description="Höhe des Fensters"
           group="Game"
           name="Screen-Height">
     </parameter>
     <parameter
           after="Screen-Height"
           defaultValue="main"
           description="Haupt Skript der Engine."
           group="Game"
           name="Main-Script">
     </parameter>
     <parameter
           after="Main-Script"
           defaultValue="Title"
           description="Start Szene der Engine."
           group="Game"
           name="Start-Scene">
     </parameter>
  </extension>
  <extension
        point="cuina.core.project.extension">
     <serviceFactory
           class="cuina.editor.core.internal.engine.EngineServiceFactory">
        <Service
              class="cuina.editor.core.engine.EngineReference">
        </Service>
        <Service
              class="java.lang.ClassLoader">
        </Service>
     </serviceFactory>
  </extension>
  <extension
        point="org.eclipse.core.variables.dynamicVariables">
     <variable
           description="description"
           name="engine_path"
           resolver="cuina.editor.debug.CuinaVariableResolver"
           supportsArgument="false">
     </variable>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
     <propertyTabs
           contributorId="org.eclipse.ui.navigator.ProjectExplorer">
        <propertyTab
              afterTab=" "
              category="general"
              id="cuina.editor.core.PreviewTab"
              label="Vorschau">
        </propertyTab>
     </propertyTabs>
  </extension>
  <extension
        point="org.eclipse.ui.views.properties.tabbed.propertySections">
     <propertySections
           contributorId="org.eclipse.ui.navigator.ProjectExplorer">
        <propertySection
              class="cuina.editor.core.PreviewPropertySection"
              id="cuina.editor.core.PreviewSection"
              tab="cuina.editor.core.PreviewTab">
           <input
                 type="org.eclipse.core.resources.IResource">
           </input>
        </propertySection>
     </propertySections>
  </extension>
</plugin>
